# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled Java classes
*.class

# Ignore the .vscode directory (for VSCode users)
.vscode/

.DS_Store
*.idea